

.planter-index {
    font-family: 'Jost', sans-serif;
    // font-weight: 500;
    margin-top: 50px;
    margin-bottom: 0px;
    // ^^need to fix this as it doesn't perfectly align/ not dynamic
    padding-right: 20px;
    display: grid;
    grid-template-columns: 1.5fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 85px 400px 400px 400px 150px;
    // the last row is for the 'padding' but to keep white space left
    grid-gap: 20px;
    background-color: rgb(237, 237, 237);
    // add more 600px rows as it grows

    border-bottom: 1px solid rgb(193, 193, 193);

    .sections-search {
        padding-top: 20px;
        grid-row: 1 / 6;
        // border: 1px solid rgb(193, 193, 193);
        // border-bottom: none;
        // can't decide if i should add border on right side between columns
        background: white;
        // word-wrap: break-word;
        // ^just have this in for resizing browser to
        // verrrrry small, will remove once i adjust
        padding: 10px;
        font-size: 13px;
        font-weight: 400;


        .dropdown {
            border-bottom: 1px solid rgb(193, 193, 193);
            padding: 10px 0;
            color: rgb(53, 53, 53);
            letter-spacing: 0.5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .product-container {
        &:hover {
            .plant-name {
                color: yellowgreen;
            }
        }
    }


    .top-column {
        grid-column: 2 / 6;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(193, 193, 193);
        align-items: flex-end;
        color: rgb(74, 74, 74);

        .all-plants {
            border-bottom: 10px solid rgb(237, 237, 237);
            margin-bottom: -18px;
            background: rgb(237, 237, 237);
            font-size: 35px;
            letter-spacing: 5px;
            padding-left: 7px;
            padding-right: 17px;
            font-weight: 200;
            // text-transform: uppercase;
        }
        
        .right-dropdown {
            display: flex;
            align-items: flex-end;
            margin-bottom: -3px;
            padding-left: 30px;
            background: rgb(237, 237, 237);


            .sort-by {
                font-size: 14px;
                padding-right: 10px;
            }
            .featured {
                font-size: 16px;
                padding-right: 30px;
                // font-weight: bolder;
            }

        }
            

    }

    .main-images {
        margin-top: 20px;
        padding-bottom: 10px;
        background-color: rgb(237, 237, 237);
        border-bottom: 1px solid rgb(193, 193, 193);
    }

    .plant-name {
        margin-top: 10px;
        padding-left: 0px;
        font-size: 15px;
        font-weight: 200;
        color: rgb(74, 74, 74);
        &::selection {
            background: yellowgreen;
            // this changed the color of the highlighting!!!
            // need to do this for all my text
        }
    }

    .plant-price {
        margin-top: 5px;
        font-size: 17px;
        font-weight: 300;
        color: rgb(117, 174, 55);
        // font-weight: bold;
    }



}