p::selection {
    background: yellowgreen;
}

h1::selection {
    background: yellowgreen;
}

h2::selection {
    background: yellowgreen;
}

h3::selection {
    background: yellowgreen;
}

h4::selection {
    background: yellowgreen;
}

h5::selection {
    background: yellowgreen;
}

li::selection {
    background: yellowgreen;
}

Link::selection {
    background: yellowgreen;
}