.nav-container {

    font-family: 'Jost', sans-serif;
    font-size: 12px;
    display: grid;
    position: fixed;
    top: 0;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;
    background-color: #3d3d3d;
    color: grey;

    .header-left {
        grid-column-start: 1;
        display: flex;
        align-items: center;
        margin-left: 20px;

        .root-link {
            font-size: 12px;
            letter-spacing: 4.5px;
        }
        .root-link:hover {
            color: #b6b5b5;
            text-decoration: underline;
        }

    }

    .header-middle {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        grid-column-start: 2;
        letter-spacing: 1px;

        .shop-nyc {
            color: rgb(151, 150, 150);
            text-decoration: underline;
            &:hover {
                color: #b6b5b5;
                cursor: pointer;
            }
        }

        .plant-care:hover {
            color: #b6b5b5;
            cursor: pointer;
            text-decoration: underline;
        }

        .plant-blog:hover {
            color: #b6b5b5;
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .header-right {
        grid-column-start: 3;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 20px;
        letter-spacing: 1px;

        // .login {
        //     letter-spacing: 1px;
        //     font-size: 12px;
        //     &:hover {
        //         color: #b6b5b5;
        //         cursor: pointer;
        //         text-decoration: underline;
        //     }
        // }

        // .signup:hover {
        //     color: #b6b5b5;
        //     cursor: pointer;
        //     text-decoration: underline;
        // }

        .header-group {
            display: flex;
            text-transform: uppercase;

            .search-modal {
                letter-spacing: 1px;
                font-size: 12px;
                padding-right: 7px;
                &:hover {
                    color: #b6b5b5;
                    cursor: pointer;
                }
            }

            .user-icon {
                letter-spacing: 1px;
                font-size: 12px;
                padding-right: 6px;
                &:hover {
                    color: #b6b5b5;
                    cursor: pointer;
                }
            }

            .shopping-cart {
                letter-spacing: 1px;
                font-size: 12px;
                padding-left: 3px;
                &:hover {
                    color: #b6b5b5;
                    cursor: pointer;
                }
            }

            .header-button {
                letter-spacing: 1px;
                font-size: 12px;
                padding-right: 5px;
                &:hover {
                    color: #b6b5b5;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

        }

    }

    
}