
h1 {
    font-family: futura-pt, sans-serif;
    text-transform: uppercase;
}

h2 {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
}

// shopnyc is DDDDD color and is always underlined
// need to actually download these fonts to use

.splash-page {

    // .img-wrapper {
    //     // height: calc(100vh - 50px);
    // }

    .splash-background {
        margin-top: 50px;
        height: calc(100vh - 50px);
        width: 100%;
        padding: 0;
        // need to fix this image
        // isnt dynamic when makingn the screen too narrow
    }

    .header {
        // border: 2px solid magenta;
        // font-family: futura-pt, sans-serif;
        font-family: proxima-nova, sans-serif;
        font-size: 40px;
        font-weight: bolder;
        text-align: center;
        margin: 50px 20px 30px 20px;
    }

    .info {
        // border: 2px solid blueviolet;
        // font-family: proxima-nova, sans-serif;
        font-family: futura-pt, sans-serif;
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 100px;
    }

    // .placeholder {
    //     margin: 10px, 20px, 0px, 20px;
    // }

    .delivery-bar {
        background-color: rgb(190, 254, 64);
        display: flex;
        font-family: proxima-nova, sans-serif;
        text-transform: uppercase;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        .delivery {
            font-weight: bold;
        }
    }

}
