
h1 {

    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
}

h2 {

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 100;
}

// shopnyc is DDDDD color and is always underlined
// need to actually download these fonts to use

.splash-page {

    // .img-wrapper {
    //     // height: calc(100vh - 50px);
    // }

    .splash-background {
        margin-top: 50px;
        height: calc(100vh - 50px);
        width: 100%;
        padding: 0;
        // need to fix this image
        // isnt dynamic when makingn the screen too narrow
    }

    .header {
        // border: 2px solid magenta;
        // font-family: futura-pt, sans-serif;

        font-family: 'Jost', sans-serif;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
        margin: 50px 20px 30px 20px;
    }

    .info {
        // border: 2px solid blueviolet;
        // font-family: proxima-nova, sans-serif;

        font-family: 'Jost', sans-serif;
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 100px;
        font-weight: 200;
    }

    .delivery-container {
        background: rgb(189, 255, 10);
        display: flex;

        font-family: 'Jost', sans-serif;
        text-transform: uppercase;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        .delivery-bar {
            display: flex;
        }

        .truck {
            padding-right: 1px;
        }

        .delivery {
            font-weight: 600;
            letter-spacing: 1px;
       }
    }

}
