
h1 {
    font-family: futura-pt, sans-serif;
    text-transform: uppercase;
}

h2 {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
}

.login-signup-header {
    font-family: futura-pt, sans-serif;
    font-size: 25px;
    color: #585858;
    text-align: center;
    padding: 0;
    margin: 25px 0 8px 0;
}

.session-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.session-form {
    margin: 0;
    padding: 0;
}

.login-signup-errors {
    color: rgb(226, 56, 41);
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-size: 10px;
    text-align: center;
}

.session-submit {
    background-color: #a6ce46;
    width: 310px;
    border: 1px solid #dfdfdf;

    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 50;
    text-align: center;

    color: #555555;
    padding: 8px 4px;
    margin: 3px 5px 5px 5px;
}

.session-submit:hover {
    background-color: rgb(61, 61, 61);
    color: white;
}

.login-input {
    border: 1px solid #dfdfdf;
    color: #555555;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-size: 11px;
    font-weight: 50;
    padding: 5px 4px 5px 4px;
    margin: 9px 5px 9px 5px;
    width: 310px;
}

::placeholder {
    color: rgb(151, 150, 150);
}

.new-customer {
    font-family: futura-pt, sans-serif;
    font-size: 17px;
    color: #3d3d3d;
    text-align: center;
    padding: 0;
    margin: 32.5px 5px 15px 5px;
}

.forgot-password {
    font-family: futura-pt, sans-serif;
    font-size: 10px;
    color: #669900;
    text-align: center;
    margin: 7px 5px 13px 5px;
}

.forgot-password:hover {
    text-decoration: underline;
    cursor: pointer;
}

// need to actually download these fonts to use